<include file="common:header" />
<!--main-->
<div class="width">
	<div class="tk_bg">
		<!--标题-->
		<div class="tit">
			<div class="left" style="color:#6159b1;font-size:30px;font-family:宋体;margin-left:20px;">手工组卷</div>
		    <div class="right"><a href="">题库</a> >><a href="">手工组卷</a></div>
		</div>
        <div class="clear"></div>
    </div>
</div>
<div class="width">
	<div id="pui_root">
		<div id="pui_main">
			<div id="pui_head">
				<div id="pui_title">
					<div style="display:none" class="pui_titlemenu">
						<a class="amendquestype mbquesBtn1" style="margin:6px 0;display:none">修改</a>
					</div>
					<div id="pui_maintitle" title="试卷主标题" style="padding:5px 70px 5px 0">
						{$shijuan.title}
					</div>
				</div>
				<div class="totalScore">
					<font>满分:</font><span id="zongfen_1"></span>
					<div class="clear">
					</div>
				</div>
				<div style="text-align:center;padding:10px 0">
					班级：___________&nbsp;&nbsp;姓名：___________&nbsp;&nbsp;考号：___________&nbsp;&nbsp;
				</div>
			</div>
			
			<div id="pui_body">
				<notempty name="first_juan">
				<div class="paperpart" id="paperpart1">
					<div id="parthead2" class="parthead">
						<div class="partmenu">
							<a class="amendquestype mbquesBtn5" style="display:none;">修改</a>
						</div>
						<div id="partheadbox2" class="partheadbox">
							<div id="partname2" class="partname">
								{$first_juan.t_title}
							</div>
							<div id="partnote2" class="partnote">
								{$first_juan.note}
							</div>
						</div>
					</div>
					<div class="partbody" id="part2">
						<volist name="first_juan.shiti" id="vo">
						<div class="questype" id="questype2_1" t_id="22">
							<div class="questypehead" id="questypehead2_1">
								<div class="questypeheadbox" id="questypeheadbox2_1">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
									<tr>
										<td>
											<div class="questypetitle">
												<span class="questypeindex"><b>{$vo.order_char}、</b></span><span class="questypename">{$vo.t_title}</span>
											</div>
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
							<style>
			               	.em2 img{
			               		vertical-align: middle;
			               	}
			               </style>
							<div class="questypebody">
								<ul class="dragsort-ver">
									<volist name="vo.childs" id="v">
									<li class="ajax_li">
									<div class="quesbox">
										<div style="display:none;" class="quesopmenu">
											<a style="display:none;" class="score">设定分值</a>
											<a class="icon3">收藏试题</a>
											<a class="answer">答案</a>
											<a class="del">删除</a>
											<a class="moveup">上移</a>
											<a class="movedn">下移</a>
										</div>
										<div class="quesdiv">
											<div>
												<span style="background-color:#fff" class="quesindex">
													<b>{$v.order_char}.</b>
												</span>
												<span class="tips"></span>
												<span class="title_css">
													{$v.content|htmlspecialchars_decode}
													<php>
							                    		if($v['options']){
							                    			$options = json_decode($v['options']);
							                    			$options_index = array(0=>'A',1=>'B',2=>'C',3=>'D',4=>'E');
							                    	</php>
							                    	<p>
							                    		<php>
							                    			$k = 0;
							                    			foreach($options as $k=>$val){
							                    		</php>
							                    			<span style="float:left;line-height:18px;font-size:14px;padding-right:30px;" class="em2"><php>echo $options_index[$k]</php>.<php>echo $val</php></span>
							                    		<php>
							                    			}
							                    		</php>
							                    	</p>
							                    	<php>
							                    	}
							                    	</php>
												</span>
											</div>
											<div style="display:none" class="quesTxt quesTxt2 quesTxtfno">
												<ul>
													<li><font>考点</font>
													<div class="fl">
														<a href="javascript:;">材料作文</a>
													</div>
													</li>
												</ul>
												<ul>
												</ul>
											</div>
										</div>
									</div>
									</li>
									</volist>
								</ul>
							</div>
						</div>
						</volist>
					</div>
				</div>
				</notempty>
				
				<notempty name="second_juan">
				<div class="paperpart" id="paperpart2">
					<div id="parthead2" class="parthead">
						<div class="partmenu">
							<a class="amendquestype mbquesBtn5" style="display:none;">修改</a>
						</div>
						<div id="partheadbox2" class="partheadbox">
							<div id="partname2" class="partname">
								{$second_juan.t_title}
							</div>
							<div id="partnote2" class="partnote">
								{$second_juan.note}
							</div>
						</div>
					</div>
					<div class="partbody" id="part2">
						<volist name="second_juan.shiti" id="vo">
						<div class="questype" id="questype2_1" t_id="22">
							<div class="questypehead" id="questypehead2_1">
								<div class="questypeheadbox" id="questypeheadbox2_1">
									<table border="0" cellpadding="0" cellspacing="0" width="100%">
									<tbody>
									<tr>
										<td>
											<div class="questypetitle">
												<span class="questypeindex"><b>{$vo.order_char}、</b></span><span class="questypename">{$vo.t_title}</span>
											</div>
										</td>
									</tr>
									</tbody>
									</table>
								</div>
							</div>
							<div class="questypebody">
								<ul class="dragsort-ver">
									<volist name="vo.childs" id="v">
									<li class="ajax_li">
									<div class="quesbox">
										<div style="display:none;" class="quesopmenu">
											<a style="display:none;" class="score">设定分值</a>
											<a class="icon3">收藏试题</a>
											<a class="answer">答案</a>
											<a class="del">删除</a>
											<a class="moveup">上移</a>
											<a class="movedn">下移</a>
										</div>
										<div class="quesdiv">
											<div>
												<span style="background-color:#fff" class="quesindex">
													<b>{$v.order_char}.</b>
												</span>
												<span class="tips"></span>
												<span class="title_css">
													{$v.content|htmlspecialchars_decode}
												</span>
											</div>
											<div style="display:none" class="quesTxt quesTxt2 quesTxtfno">
												<ul>
													<li><font>考点</font>
													<div class="fl">
														<a href="javascript:;">材料作文</a>
													</div>
													</li>
												</ul>
												<ul>
												</ul>
											</div>
										</div>
									</div>
									</li>
									</volist>
								</ul>
							</div>
						</div>
						</volist>
					</div>
				</div>
				</notempty>
				
			</div>
		</div>
	</div>
	<div class="clear">
	</div>
</div>
<iframe id="down_iframe" src="" style="display:none;"></iframe>
<!-- 右侧 试卷选项-->
<div class="rightNav">
	<div class="Nav_title">
		<a href="" class="add1">再加点题</a><a href="" class="add2">再加点题</a>
	</div>
	<div class="txt">
		<div class="fl" style="height:265px">
			<div>
				<a href="javascript:;" id="lock" rel="nofollow">点击收起</a>
			</div>
			<p>
				我的试卷
			</p>
			<div style="color:#1887E3;cursor:pointer;position:absolute;left:7px;bottom:46px" class="sdfr2">
				清空
			</div>
			<a style="" href="javascript:;" id="backTop">回顶</a>
		</div>
		<div class="fr" style="padding:15px 15px 46px">
			<div style="min-height:215px;margin-bottom:20px;margin-left:3px">
				<ul id="wo_de_shi_juan">
					<volist name="tiku_cart" id="vo">
					<li>{$vo.type_name}(<span>{$vo.num}</span>/{$vo.num})</li>
					</volist>
				</ul>
				<div>
					<a href="javascript:;" class="btn btn3" id="mbsaveQues" rel="nofollow">保存试卷</a>
					<a href="javascript:;" class="btn btn3" id="mbdownQues" rel="nofollow">下载试卷</a>
					<a href="javascript:;" class="btn btn3" id="mbanswerSheet" rel="nofollow">下载答题卡</a>
					<div style="clear:both">
					</div>
				</div>
			</div>
			<div style="color:#333;font-size:12px;margin:0 auto;text-align:center;width:96px">
				暂不支持迅雷下载
			</div>
			<div class="suggestion">
				<a href="" target="_blank">问题反馈</a>
			</div>
		</div>
	</div>
</div>
<!-- 下载答题卡弹层 -->
	<div id="datika" class="mbPaneltxt" style="overflow:hidden;display:none;">
		<div class="mbprintTxt">
			<form action="" method="post" name="myformd">
				<ul class="mt5">
					<li>
						<div class="tit">
							<span>格式</span>
						</div>
						<div class="fl">
							<label>
								<input name="doctype" value="doc" checked type="radio">
								<span>word2003</span>
								<font class="save_title_doc">高中语文随堂练习-20151029_yitiku.doc</font>
							</label>
							<label>
								<input name="doctype" value="docx" type="radio">
								<span>word2007/2010</span>
								<font class="save_title_docx">高中语文随堂练习-20151029_yitiku.docx</font>
							</label>
						</div>
					</li>
					<li>
						<div class="tit">
							<span>模板</span>
						</div>
						<label class="A4"><input name="model" value="A4" checked type="radio"><span>普通表格</span></label>
						<label class="B4"><input name="model" value="A3" type="radio"><span>标准答题卡</span></label>
						<label class="A3"><input name="model" value="B5" type="radio"><span>密集型答题卡</span></label>
					</li>
					<li><input value="&nbsp;下&nbsp;&nbsp;载&nbsp;" class=" btn2 mt load" style="margin-left:240px;margin-top:10px" id="xiazai" type="button"></li>
					<li style="text-align:center;padding-top:5px;color:#f43c5e">小提示：为保证试卷的正常下载，建议使用chrome浏览器、或IE8以上浏览器</li>
				</ul>
			</form>
		</div>
	</div>
	<!-- 保存试卷-->
	<div id="save_sj" style="background:#fff;display:none;">
		<div class="mbquesTxt" style="width:390px; height:220px;">
			<ul class="mt">
				<li><label>主标题：</label><textarea name="save_title" class="wh2">{$shijuan_title}</textarea></li>
				<li><label>副标题：</label><textarea name="save_title1" class="wh2">{$shijuan_subtitle}</textarea></li>
				<li><input type="button" class=" btn2 fine_save_paper" id="save_shijuan" value="保 存"></li>
			</ul>
		</div>
	</div>
	<!-- 下载试卷-->
	<div id="down_sj" style="background:#fff;display:none;">
		<div class="mbquesTxt" style="width:390px; height:220px;>
			<ul class="mt">
				<li><label>主标题：</label><textarea name="save_title" class="wh2">{$shijuan_title}</textarea></li>
				<li><label>副标题：</label><textarea name="save_title1" class="wh2">{$shijuan_subtitle}</textarea></li>
				<li><input type="button" class="btn2 fine_save_paper" id="download_shijuan" value="下载试卷"></li>
			</ul>
		</div>
	</div>
	<!--收藏试卷-->
	<div id="sc_sj" style="background:#fff;display:none;">
		<div class="mbstowTag">
			<h3>收藏成功</h3>
			<form method="post" name="shoucang" action="">
				<ul>
					<li>
					<label>打标签：</label>
					<input class="wh6" type="text" name="tagName" value="高中语文现代文阅读">
					<u>添加多个标签时，请用英文逗号分隔。</u>
					</li>
					<li>
					<label>标签：</label>
					<div>
						<a href="javascript:;">易错题</a>
						<a href="javascript:;">经典题</a>
						<a href="javascript:;">好题</a>
					</div>
					</li>
					<li>
					<input class="btn2" type="button" value="确定">
					</li>
				</ul>
			</form>
		</div>
	</div>
<link href="__PUBLIC__/js/jquery-ui-1.11.2.custom/jquery-ui.css" rel="stylesheet" type="text/css" />
<script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/jquery-ui-1.11.2.custom/jquery-ui.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/menu.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/dialog.js" type="text/javascript"></script>
<script>
$(function(){
	//subnav
	$(".menu li").hover(function(){
		$(".subnav",this).css("display","block");
		$(this).addClass("hover");
	},function(){
		$(".subnav",this).css("display","none");
		$(this).removeClass("hover");
	});
	//
	
		//subnav
	$(".sj_ul li").hover(function(){
		$("dl",this).css("display","block");
		$(this).addClass("hover");
	},function(){
		$("dl",this).css("display","none");
		$(this).removeClass("hover");
	});
	//
	
})
$('#save_shijuan').click(function(){
	$.getJSON(
		'/shijuan/ajaxSave',
		'',
		function(data){
			if(data.status=='success'){
				
			}
		}
	);
	
	$('#save_sj').dialog("close");
});
$('#download_shijuan').click(function(){
	$.getJSON(
		'/shijuan/ajaxDownload',
		'',
		function(data){
			if(data.status=='success'){
				$('#down_iframe').attr('src','/shijuan/createtoword');
			}
		}
	);
	
	$('#down_sj').dialog("close");
});
</script>
<script>
$(function(){
	//subnav1
	$(".menu li").hover(function(){
		$(".subnav1",this).css("display","block");
		$(this).addClass("hover");
	},function(){
		$(".subnav1",this).css("display","none");
		$(this).removeClass("hover");
	});
	//
})
</script>
<include file="common:footer" />