<include file="common:header" />


<!--main-->
	<div class="index_banner">
		<div class="bd">
			<ul>
				<li style="background:url(__PUBLIC__/images/index_bg.gif) #CCE1F3 center 0 no-repeat;"><a target="_blank" href="#"></a></li>
				<li style="background:url(__PUBLIC__/images/index_bg.gif) #BCE0FF center 0 no-repeat;"><a target="_blank" href="#"></a></li>
				<li style="background:url(__PUBLIC__/images/3.jpg) #C4CFEB center 0 no-repeat;"><a target="_blank" href="#"></a></li>
				<li style="background:url(__PUBLIC__/images/4.jpg) #C5EDFD center 0 no-repeat;"><a target="_blank" href="#"></a></li>
			</ul>
		</div>
		<div class="hd"><ul></ul></div>
        
        <div class="width">
            <!--第一屏-->
            <div class="login">
                <div class="login_wz">
                <form>
                    <input type="text" class="ip" size="40" value="账号：" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue"/><br />
                    <input type="text" class="ip" size="40" value="密码：" onfocus="if(this.value==defaultValue)this.value=''" onblur="if(this.value=='')this.value=defaultValue"/><br />
                    <input type="checkbox" />下次自动登录
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="">忘记密码</a><br />
                    <input type="submit" class="btn" value="登录" size="40"/><br />
                    <input type="submit" class="btn" value="注册" size="40"/><br />
                    
                </form>
                </div>
            </div>
         </div>
        
	</div>

	<script type="text/javascript">
		jQuery(".index_banner").slide({ titCell:".hd ul", mainCell:".bd ul", effect:"fade",  autoPlay:true, autoPage:true, trigger:"click" });
	</script>


<div class="width">
    
    <!--第二屏-->
    <div class="mt20">
    	<div class="w440 left">
        	<div class="subject"><span><a href=""></a></span>高中试卷汇总<i>Self Q&A </i> </div>
            
         <div class="notice" style="margin:0 auto">
		<div class="tab-hd">
				<ul class="tab-nav">
				  <li><a href="#" target="_blank">语文 </a></li>
				  <li><a href="#" target="_blank">数学</a></li>
				  <li><a href="#" target="_blank">英语</a></li>
				  <li><a href="#" target="_blank">化学</a></li>
				  <li><a href="#" target="_blank">物理</a></li>
                  <li><a href="#" target="_blank">生物</a></li>
                  <li><a href="#" target="_blank">物理</a></li>
                  <li><a href="#" target="_blank">历史</a></li>
                  <li><a href="#" target="_blank">地理</a></li>
                  <li><a href="#" target="_blank">政治</a></li>
				</ul>
		</div>
		<div class="tab-bd">
			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
			
            <div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真5454题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            
			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真545题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            

			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真343题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>

			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真333题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            
            <div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真111题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            
            <div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真2222题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
		</div>
	</div>
          <script type="text/javascript">jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });</script>                  
        </div>
        
        <div class="w500 left">

        	<div class="subject"><span><a href=""></a></span>初中试卷汇总<i>Self Q&A </i> </div>
            
         <div class="notice" style="margin:0 auto">
		<div class="tab-hd">
				<ul class="tab-nav">
				  <li><a href="#" target="_blank">语文 </a></li>
				  <li><a href="#" target="_blank">数学</a></li>
				  <li><a href="#" target="_blank">英语</a></li>
				  <li><a href="#" target="_blank">化学</a></li>
				  <li><a href="#" target="_blank">物理</a></li>
                  <li><a href="#" target="_blank">生物</a></li>
                  <li><a href="#" target="_blank">物理</a></li>
                  <li><a href="#" target="_blank">历史</a></li>
                  <li><a href="#" target="_blank">地理</a></li>
                  <li><a href="#" target="_blank">政治</a></li>
				</ul>
		</div>
		<div class="tab-bd">
			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
			
            <div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真5454题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            
			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真545题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            

			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真343题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>

			<div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真333题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            
            <div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真111题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
            
            <div class="tab-pal">
					<ul>
						<li><span>2015-07-22</span><a href="#">·[真2222题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
						<li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
                        <li><span>2015-07-22</span><a href="#">·[真题]2015年高考上海市语文（带分析）</a></li>
					</ul>
			</div>
		</div>
	</div>
          <script type="text/javascript">jQuery(".notice").slide({ titCell:".tab-hd li", mainCell:".tab-bd",delayTime:0 });</script>
            
        </div>
    </div>
    
</div>

<div class="width">
	<div class="mt20">
    <div class="subject"><span><a href=""></a></span>最新资讯<i>Self Q&A </i> </div>
    <ul class="n_news">
    	<li> <div class="pic"><a href=""><img src="images/add.gif" /></a></div>
        	<div class="text">
            	<div class="tt"><a href="">让历史说话   用史实发言</a></div>
            	<div class="inf">初中女生休学一年写23万字谍战小说</div>
            </div>
        </li>
        
        <li> <div class="pic"><a href=""><img src="images/add.gif" /></a></div>
        	<div class="text">
            	<div class="tt"><a href="">让历史说话   用史实发言</a></div>
            	<div class="inf">初中女生休学一年写23万字谍战小说</div>
            </div>
        </li>
        
         <li> <div class="pic"><a href=""><img src="images/add.gif" /></a></div>
        	<div class="text">
            	<div class="tt"><a href="">让历史说话   用史实发言</a></div>
            	<div class="inf">初中女生休学一年写23万字谍战小说</div>
            </div>
        </li>
        
         <li> <div class="pic"><a href=""><img src="__PUBLIC__/images/add.gif" /></a></div>
        	<div class="text">
            	<div class="tt"><a href="">让历史说话   用史实发言</a></div>
            	<div class="inf">初中女生休学一年写23万字谍战小说</div>
            </div>
        </li>
        
         <li> <div class="pic"><a href=""><img src="images/add.gif" /></a></div>
        	<div class="text">
            	<div class="tt"><a href="">让历史说话   用史实发言</a></div>
            	<div class="inf">初中女生休学一年写23万字谍战小说</div>
            </div>
        </li>
        
         <li> <div class="pic"><a href=""><img src="images/add.gif" /></a></div>
        	<div class="text">
            	<div class="tt"><a href="">让历史说话   用史实发言</a></div>
            	<div class="inf">初中女生休学一年写23万字谍战小说</div>
            </div>
        </li>
     </ul>
        
    </div>
</div>

<include file="common:footer" />
